//// GLOBAL

// Variables

$mainFont: 'Roboto', sans-serif
$headingFont: 'Roboto Slab', serif

// Colors
$black: hsl(0,0%,13%)
$seaGreen: hsl(178, 45%, 55%)
$grey: hsl(0,0%,70%)
$navy: hsl(225, 59%, 10%)

//// SECTIONS

// Main

.mainContainer
	font-family: $mainFont
	height: 100%

.topbar
	background: $navy

.main
	margin-top: 5%
	h1,h2,h3,h4,h5,h6
		font-family: $headingFont

// Home

#home
	// NOTE: Might need file-loader to handle this image
	background: $grey
	// height: 120%
	.mainHeader
		padding: 10% inherit
		background: none
	.homeButton
		background: $seaGreen
		border-color: $seaGreen

// About

// Services

// Contact

#contact
	.title
		font-family: $headingFont
	.inputBox
		border: none
		border-bottom: 1px solid lighten($grey, 13%)
		border-right: 1px solid lighten($grey, 13%)
		border-radius: 0
		&::placeholder
			color: lighten($grey, 3%)
	textarea
		border-color: lighten($grey, 13%)
		&::placeholder
			color: lighten($grey, 3%)
	.buttonContainer
		margin-bottom: 5%
	.inPutButton
		background: $seaGreen
		border-color: $seaGreen
